* {
    font-family: 'Poppins', sans-serif;
}

/* carousel section */
.carousel-inner img {
    filter: brightness(50%);
}

.custom-btn-color {
    background-color: #289BDE;
    border: none;
}

.custom-color {
    color: #289BDE;
}

/* media queries */
/* small and extra small devices */
@media only screen and (max-width:767px) {

    /* carousel section  */
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 12px;
    }

    .carousel-caption button {
        font-size: 14px;
    }
}